# Create example data
This notebook creates a folder of images that can then be used to implement infrerencing (predictions using a trained neural network). We use a the csv file that contain image paths and associated labels.  We create a single folder with unlabeled images, much like what would occur in after importing raw images from camera trap memory cards.

In [1]:
# import libraries
import pandas as pd # used for importing csv and reveiwing data
import os # operating system
import shutil # used to create, move, and delete files and directories

## CSV import, cleaning, and review

Import - import the example csv using pandas

Clean - removes extra column "Unnamed: 0" created from original creation process

Review - 8 remaining columns many of which should look familiar. OBJECT and OBJECTNAME seperate

In [2]:
## import csv
# List your unique csv paths. Remove and replace the below paths with your own. 
csv = 'F:/Nilgai_photo_database/Nilgai Classifier/Nilgai/data/1K_example_data.csv' 

# import csv using pandas and create a dataframe
df = pd.read_csv(csv, index_col=0)

# show the first five rows of the mutli csv file
df.head()

,STUDYAREAN,IMGPATH,SPECIESID,COMMONNAME
0,Colima East,F:\Nilgai_photo_database\COL\COLE\CO_LE_0669_1...,27.0,Opossum
1,Colima East,F:\Nilgai_photo_database\COL\COLE\CO_LE_0668_1...,32.0,Tortoise/Turtle
2,BV Troughs,F:\Nilgai_photo_database\BV\BVT\BV_T_02_190604...,9.0,Humans
3,Buena Vista SW,F:\Nilgai_photo_database\BV\BVSW\BV_SW_12_1901...,11.0,"Exotics, other"
4,Buena Vista SW,F:\Nilgai_photo_database\BV\BVSW\BV_SW_12_1901...,17.0,Raccoon

## Sample Images from CSV

Take random sample of images from each class ('COMMONNAME') and place them in './sample_images' folder

In [3]:
## Creates new df that randomly samples 4 images per class (100 total images). 
# group images by class
df_grouped = df.groupby('COMMONNAME')

# use pandas lambda function to apply the .sample function to each class. Number of images (n) is set to 4 and 'replace' is set to false (no images are repeated).
df_new = df_grouped.apply(lambda x: x.sample(n=4, replace=False, random_state=1))
df_new.reset_index(drop=True, inplace=True)

print("\nTotal number of images: ", df_new.shape[0])
df_new.tail()
df_new.head()

Total number of images:  100

,STUDYAREAN,IMGPATH,SPECIESID,COMMONNAME
0,Colima East,F:\Nilgai_photo_database\COL\COLE\CO_LE_0669_1...,26.0,Armadillo
1,Colima North West,F:\Nilgai_photo_database\COL\CONW\CO_NW_03_190...,26.0,Armadillo
2,Colima North West,F:\Nilgai_photo_database\COL\CONW\CO_NW_03_190...,26.0,Armadillo
3,BV East Middle,F:\Nilgai_photo_database\BV\BVEM\BV_EM_02_Cam1...,26.0,Armadillo
4,Colima N Central,F:\Nilgai_photo_database\COL\CONC\CO_NC_65.5_1...,10.0,Birds

In [7]:
# Uses images path in df_new to copy image and paste in the new destination (dst) /sample_images.
for _, row in df_new.iterrows():
    dst = 'F:/Nilgai_photo_database/Nilgai Classifier/Nilgai/sample_images'
    shutil.copy(row['IMGPATH'], dst)

## Rename files

In [11]:
def rename_img(): 
  
    for count, filename in enumerate(os.listdir('F:/Nilgai_photo_database/Nilgai Classifier/Nilgai/sample_images/images/')): 
        dst = 'F:/Nilgai_photo_database/Nilgai Classifier/Nilgai/sample_images/images/'+ str(count) + '.jpg'
        src = 'F:/Nilgai_photo_database/Nilgai Classifier/Nilgai/sample_images/images/' + filename 
        
        # rename() function will rename all the files 
        os.rename(src, dst) 
rename_img()